body{
    background-image: url(loginbg.jpg);
}

@media (max-width: 600px) {
  body {
    width: 100%;
    font-size: 14px;
  }
}

#main{
    height: 600px;
    width: 660px;
    background-color: white;
    margin: auto;
    border-radius: 30px;
    margin-top: 3%;
    box-shadow: 1px 1px 10px grey;
    color: rgba(247, 20, 162);
}

#title{
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 280px;
    padding-top: 5px;
}

.products{
    /*border: 3px solid black;*/
    height: 400px;
    width: 100%;
    overflow-y: auto;   
    overflow-x: hidden; 
    display: flexbox;
}

#sum{
    /*border: 3px solid black;*/
    height: 125px;
    width: 100%;
    padding-top: 10px;
}

#summoney{
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /*border: 3px solid black;*/
    width: 40%;
    position: relative;
    float: left;
}

#money{
    /*border: 3px solid black;*/
    width: 40%;
    position: relative;
    float: left;
    margin-top: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#orderb{
    background-color: rgba(247, 20, 162);
    cursor: pointer;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    border-color:  rgba(247, 20, 162);
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

#orderb:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#back:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#order{
    /*border: 3px solid black;*/
    float: right;
    margin-top: 5px;
    position: relative;
    margin-right: 280px;
    padding-top: 5px;
}

#back{
    width: 55px;
    height: 50px;
    /*background-color: white;*/
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    margin: 5px;
    /*box-shadow: 1px 1px 10px grey;*/
}

.product{
    margin: 2%;
    border: 2px solid rgb(255, 224, 244);
    width: 615px;
    height: 190px;
    display: flex;
    border-radius: 20px;
     background-color:rgb(255, 224, 244);
}

.pic{
    border: 1px solid rgb(255, 224, 244);
    width: 160px;
    height: 160px;
    margin: 15px;
}

.p{
   width: 160px;
    height: 160px;
}

.prodname{
    /*border: 1px solid black;*/    
    width: 350px;
    height: 60px;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.prodprize{
  /*border: 1px solid black;*/
  width: 100px;
  height: 40px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding-top: 10px;
  margin-top: 11%;
  font-weight: bold;
}

.numDiv{
   margin-left: 50%;
   margin-top: 14%;
}
.remove{
    width: 50px;
    height: 50px;
    margin-top: 100px;
}

.cancel{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.cancel:hover{
    cursor: pointer;
}

@media (max-width: 700px) {
 #main{
    width: 550px;
    margin-left: 4%;
 }

 #title{
    margin-left: 230px;
 }

 #order{
    margin-right: 240px;
 }

 .product{
    width: 500px;
    height: 150px;
 }

 .pic, .p{
    width: 100px;
    height: 100px;
 }

 .remove{
    margin-top: 80px;
 }

 .prodname{
    width: 300px;
    height: 60px;
 }

 .prodprize{
   margin-top: 0%;
 }

 .numDiv{
   margin-left: 40%;
   margin-top: 3%;
}
}

@media (max-width: 550px) {
 #main{
    width: 465px;
    margin-left: 1%;
 }

 #title{
    margin-left: 190px;
 }

 #order{
    margin-right: 180px;
 }

 .product{
    width: 425px;
    height: 180px;
 }

 .pic, .p{
    width: 100px;
    height: 100px;
 }

 .remove{
    margin-top: 100px;
 }

 .prodname{
    width: 228px;
    height: 80px;
 }

 .numDiv{
   margin-left: 25%;
   margin-top: 4%;
}
}