body{
    background-image: url(loginbg.jpg);
}

#main{
    background-color:rgb(255, 186, 231);
    width: 450px;
    height: 480px;
    border-radius: 15px;
    position: relative;
    margin: auto;
    margin-top: 6%;
    box-shadow: 1px 1px 10px grey;
}

#login{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: rgba(247, 20, 162);
    padding: 9%;
}

form{
    padding: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: rgba(247, 20, 162);
}

#eye:hover{
    cursor: pointer;
}
#eye{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
}

input{
    width: 350px;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 5%;
    border-color: white;
}

button{
    margin-left: 38%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background-color: rgba(247, 20, 162);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-color: rgba(247, 20, 162);
    cursor: pointer;
}

#regist{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(247, 20, 162);
    font-size: 15px;
    padding: 5%;
    margin-left: 23%;
}


#back{
    width: 55px;
    height: 50px;
    /*background-color: white;*/
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    margin: 5px;
    /*box-shadow: 1px 1px 10px grey;*/
}

@media (max-width: 500px){
    #main{
        margin-top: 15%;
    }
}