body{
    background-image: url(loginbg.jpg);
}

@media (max-width: 600px) {
  body {
    width: 100%;
    font-size: 14px;
  }
}

#main{
    height: 1080px;
    width: 600px;
    background-color: rgb(255, 228, 245);;
    margin: auto;
    border-radius: 30px;
    margin-top: 2%;
    box-shadow: 1px 1px 10px grey;
}

#title{
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 220px;
    padding-top: 35px;
    color: rgba(247, 20, 162);
}

form{
    padding-left: 50px;
    padding-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    color: rgba(247, 20, 162);
}

.in{
    width: 350px;
    height: 22px;
    border-radius: 10px;
    margin-bottom: 5%;
    border-color: white;
}

/*#payment{
  border: 3px solid black;
  height: 100px;
  width: 400px;
  margin: 40px;
}*/

.ch{
    margin: 5px;
    margin-left: 50px;
}

.lbl{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(247, 20, 162);
    font-size: 15px;
}

#sub{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: rgba(247, 20, 162);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-color: rgba(247, 20, 162);
    cursor: pointer;
    margin-left: 25%;
}

#sub:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#back:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#back{
    width: 55px;
    height: 50px;
    /*background-color: white;*/
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    margin: 5px;
    /*box-shadow: 1px 1px 10px grey;*/
}

#myalert{
    position: fixed;
    /*border: 3px solid black;*/
    top: 0;
    margin-left: 2%;
    margin-top: 18%;
    width: 450px;
    height: 200px;
    background-color: rgba(247, 20, 162);
    border-radius: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    box-shadow: 1px 1px 10000px black;
    visibility: hidden;
}

#myalert > p{
    margin-left: 5%;
}


#ok{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    width: 60px;
    height: 40px;
    background-color: white;
    color: rgba(247, 20, 162);
    border-color: white;
    margin-left: 40%;
}

#ok:hover{
    cursor: pointer;
}

@media (max-width: 1200px){

    #myalert{
        margin-top: 20%;
    }
}

@media (max-width: 800px){

    #myalert{
        margin-top: 30%;
    }
}

@media (max-width: 650px){
    #main{
        width: 550px;
    }

    #title{
        margin-left: 180px;
    }

    #myalert{
        margin-top: 40%;
    }
}

@media (max-width: 550px){
    #main{
        width: 460px;
        height: 950px;
    }

    #title{
        margin-left: 150px;
    }

    #sub{
        margin-left: 20%;
    }

    #myalert{
        width: 400px;
        height: 150px;
        font-size: 30px;
        margin-top: 50%;
        margin-left: 1px;
    }
}