body{
    background-image: url(loginbg.jpg);
}

#main{
    background-color: rgb(255, 186, 231);
    width: 420px;
    height: 600px;
    border-radius: 15px;
    position: relative;
    margin: auto;
    margin-top: 3%;
    box-shadow: 1px 1px 10px grey;
}

#regist{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: rgba(247, 20, 162);
    padding: 6%;
}

form{
    padding: 6%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: rgba(247, 20, 162);
}

#lastn{
    width: 130px;
    width: 320px;
    height: 22px;
    border-radius: 10px;
    margin-bottom: 5%;
}
#firstn{
    width: 130px;
    width: 320px;
    height: 22px;
    border-radius: 10px;
    margin-bottom: 5%;
}

.in{
    width: 320px;
    height: 22px;
    border-radius: 10px;
    margin-bottom: 5%;
    border-color: white;
}

button{
    margin-left: 38%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background-color: rgba(247, 20, 162);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-color: rgba(247, 20, 162);
    cursor: pointer;
    /*margin-top: 20px;*/
}

#login{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(247, 20, 162);
    font-size: 15px;
    padding: 5%;
    margin-left: 27%;
}

#back{
    width: 55px;
    height: 50px;
    /*background-color: white;*/
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    margin: 5px;
    /*box-shadow: 1px 1px 10px grey;*/
}

.ch{
    margin: 5px;
    margin-left: 50px;
}

.lbl{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(247, 20, 162);
    font-size: 15px;
}

#eye{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    position: absolute;
}

#eye:hover{
    cursor: pointer;
}
#eye2{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    position: absolute;
}

#eye2:hover{
    cursor: pointer;
}